.post {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  border-radius: 6px 6px 0 0;
}
